html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* ===============================
   Inicio Index (Home)
   =============================== */

.index-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .index-container h1,
    .index-container h2 {
        font-weight: normal;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .index-container p {
        line-height: 1.6;
        margin-bottom: 35px;
    }

.btn-flutuante {
    border-radius: 50px;
    padding: 14px 36px;
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

    .btn-flutuante:hover {
        transform: translateY(-4px);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
    }

    .btn-flutuante:active {
        transform: translateY(-1px);
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    }

/* ===============================
    Fim Index (Home)
   =============================== */

/* ===============================
    Inicio Privacy (Privacy)
   =============================== */

.privacy-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

    .privacy-container h1,
    .privacy-container h2 {
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .privacy-container p {
        text-align: center;
        line-height: 1.6;
        margin-bottom: 15px;
    }

/* ===============================
    Fim Privacy (Privacy)
   =============================== */